version: "3"
services:
  web:
    build: . 
    volumes:
      - ./src:/home/jovyan/work
    ports:
      - "80:8888"
    tty: true
    stdin_open: true
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["nvidia-compute"]
              driver: nvidia
